= f.input :title
%strong Ingredients
= render partial: 'ingredients', locals: {f: f}
= f.input :steps, placeholder: 'Enter Steps here', input_html: {class: 'redactor'}
.row
  .col-md-6
    = f.input :description
  .col-md-6
    = f.input :pre_requirements
= render partial: 'images', locals: {f: f}
= f.input :benifits
= f.submit class: "btn btn-primary"


