.col-md-12
  .col-md-3
    %strong 
      %label Ingredients:
  .col-md-4= f.link_to_add "Add ingredient", :ingredients, class: "btn btn-danger btn-xs", data: {target: "#new_ingredient"}
%br
%br
%br
.col-md-9
  #new_ingredient
  = f.simple_fields_for :ingredients do |ingredient|
    .col-md-4
      = ingredient.association :content, collection: Content.all.collect{|c| ["#{c.name} - #{c.taste}", c.id]}, label: false, prompt: "Select Ingredient"
    .col-md-3
      = ingredient.input :quantity, label: false, placeholder: 'Quantity'
    .col-md-4
      = ingredient.input :description, input_html: { rows: 1, cols: 6 }, label: false, placeholder: 'Description (if any)'
    .col-md-1
      %br
      = ingredient.link_to_remove "Remove", class: "btn btn-danger btn-xs"
