= recipe.title.try(:capitalize)
%br 
%b Description:
= recipe.description
- if recipe.pre_requirements.present?
  %br 
  %b Pre Requirements:
  = recipe.pre_requirements
%br 
#ingredients
%table
  %tr
    %td
      %b Ingredients:
    %td
      %table
        - recipe.ingredients.each do |ing|
          %tr
            %td
              #{ing.content.name} - #{ing.quantity}
    %br 
= raw recipe.steps
Rate the recipe : 
= rating_for recipe, "Like", star: 5, disable_after_rate: false
= commontator_thread(recipe)
