.row
  %center
    %b=recipe.title.try(:capitalize)
%center= image_tag recipe.images.first.try(:avatar_url)
.row
  
  %b Description:
.row
  .col-md-1
  .col-md-8
    %p= recipe.description
- if recipe.pre_requirements.present?
  .row
    %b Pre Requirements:
  .row
    .col-md-1
    .col-md-8
      %p= recipe.pre_requirements
.row#ingredients

  %b Ingredients:
  .row
    .col-md-3 Name
    .col-md-3 Quantity
    .col-md-3 Taste
    .col-md-3 Description
  - recipe.ingredients.each do |ing|
    .row
      .col-md-3 
        = ing.content.name
      .col-md-3
        = ing.quantity
      .col-md-3
        = ing.content.taste
      .col-md-3
        = ing.description
.row 
  %b Steps
.row
  %p= raw(recipe.steps)
