!!!
%html
  %head
    %title RecipeGuru
    %meta{ name: "viewport", content: "width=divice-width, initial-scale=1" }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      = render 'layouts/navbar'
      .container
        .panel-body
          = render 'shared/flash'
          = yield
          - if ((params["controller"].eql?("recipes") and (["new","edit", "create", "update"].include?params["action"])) or params[:controller].include?('devise'))
            %body{background: asset_url("bg_image2.jpg")}
          - else
            - img_num = ['3', '5'].shuffle.first 
            %body{background: asset_url("bg_image" + img_num + ".jpeg")}

    #footer
      .container
